{% extends "bus_gestion/base_generic.html"  %}

{% block content %}
<h1>Local Library Home</h1>

  <p>Welcome to <em>LocalLibrary</em>, a place where you can have info on bus AFTU.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>bus:</strong> {{ num_bus}}</li>
    <li><strong>driver:</strong> {{ num_chauffeur }}</li>
    
  </ul>

{% endblock %}
<!-- Add additional CSS in static file --> 
{% load static %} 
<link rel="stylesheet" href="{% static 'bus_gestion/styles.css' %}">
